<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="contactsPage.css">
<head>
    <body>
        <h1>Contacts</h1>
        <table>
            <tr>
                <th>Organization</th>
                <th>Name</th>
                <th>Location</th>
                <th>email</th>
                <th>Phone #</th>
            </tr>
            <tr>
                <th>Organization</th>
                <th>Name</th>
                <th>Speciality</th>
                <th>email</th>
                <th>Phone #</th>
            </tr>
        </table>
        <p></p>
        <div class="center">
            <button><a href="parenthomepage.html">Back</a></button>
        </div>
    </body>
</head>
</html>                          