body{
    padding: 25px;
  }
  .title {
      color: #118506;
  }

.center {
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}