<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="InterventionParentPage.css">
    <title>Intervention Plan</title>
</head>
<body>
    <h1 class="center" style="color: #118506;">Intervention Plan</h1>
    <div class = "click">
        <button class="button buttonyes">Approve</button>
        <button class="button buttonno">Deny</button>
        <button class="button buttonconcern">Concern</button>
        <button class="button buttonreffer">Refferals</button>
    </div>
    <p>some kind of plan or content</p>
</body>
</html>