.center {
    text-align: center;
}

.button {
    border: none;
    padding: 25px 50px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: end;
}
.click {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 13%;
    float: right;
}
.buttonyes {
    display: flex;
    background-color: green;
    top: 20%;
}
.buttonno {
    display: flex;
    background-color: red;
    top: 40%;
}
.buttonconcern {
    display: flex;
    background-color: blue;
    top: 60%;
}
.buttonreffer {
    display: flex;
    background-color: teal;
    top: 80%;
}